main{
    display:flex;
    flex-direction:column;
}

.nav{
    display:flex;
    position:fixed;
    z-index:5;
    background-color:#131b39;
    width:100%;
    padding:1% 0
}

.home{
    flex:1;
}

.home-icon{
    text-decoration:none;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.5em;
    letter-spacing: 1px;
    margin-left: 5%;
}

.nav-title{
    flex:1;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.about,
.projects,
.blog,
.experience,
.contact{
    text-decoration: none;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition-duration: 0.3s;
}

.about:hover,
.projects:hover,
.blog:hover,
.experience:hover,
.contact:hover{
    opacity:0.7
}

.background{
    position:fixed;
    z-index:1;
    overflow: hidden;
}

.background-img{
    width:100%;
}

.homepage-content{
    z-index:4;
    display:flex;
    height:50vh;
}

.profile{
    flex:1;
    z-index:4;
    padding-top:10vh;
    scale:0.6;
    opacity:0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay:0.3s;
}

.profile-img{
    border-radius: 10%;
}

.background-word{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

}

.background-word-h{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:3em;
    font-weight: bold;
    opacity:0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay:0.8s;
}

.background-word-p{
    opacity:0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay:0.7s;

    margin-top:3vh;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.5em;
    letter-spacing: 0.1px;
}

.contact-icon{
    display:flex;
}

.fa-brands,
.fa-solid{
    opacity:0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay:0.7s;

    text-decoration: none;
    margin:3vh 2vh 3vh 4vh;
    font-size:1.5em;
    color:white;
    transition-duration: 0.3s;
}

.fa-brands:hover,
.fa-solid:hover{
    scale:1.2
}

.white-background{
    z-index:3;
    display:flex;
    height:60vh;
    background-color: white;
    padding:0 5%;
}

.empty{
    flex:1
}

.white-background-content{
    flex:1;
    display:flex;
    flex-direction: column;
}

.white-background-content-p{
    opacity:0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay:0.5s;

    color:black;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    text-align: justify;
}

.about-me{
    opacity:0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay:1s;

    width:20%;
    text-align: center;
    border:2px solid #131b39;
    border-radius: 3%;
    padding:0.5em 1em;
    text-decoration: none;
    font-size:1.5em;
    color:#131b39;
    
    background-color: white;
    transition-duration: 0.3s;

}

.about-me:hover{
    background-color: #131b39;
    color:white
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(5vh);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}