@media (max-width:1000px){
    .profile-img{
        border-radius: 2cap;
    }

    .media-icon{
        padding:5% 1%;
    }

    .Projects-h,
    .Blog-h,
    .Research-h{
        font-size: 3rem;
    }

}
