    <header>
        <div class="developing-box" id="developing">Content is still under development.</div>

        <section class="home">
            <a href="https://yiejt.github.io/website/" class="home-icon">Yie JT</a>
        </section>
        <a href="" class="alert-bar">
            <div class="red-dot"></div>
            <div class="alert-bar-content">This website was built from scratch using HTML, CSS, and JavaScript. Learn more</div>
        </a>
        <section class="nav">
            <a href="" class="about developing">About</a>
            <a href="" class="projects developing">Projects</a>
            <a href="" class="blog developing">Blog</a>
            <a href="" class="research developing">Research</a>
            <a href="" class="CV developing">CV</a>
            <a href="#footer" class="contact">Contact</a>
        </section>

        <section class="collapsed-nav">
            <div class="collapsed-red-dot">
                <div class="collapsed-red-dot-outer"></div>
                <div class="collapsed-red-dot-inner">1</div>

                <div class="triangle"></div>
                <div class="red-dot-content">This website was built from scratch using HTML, CSS, and JavaScript. <a href="">Learn more</a></div>
            </div>
            
            <div class="material-symbols-outlined burger">menu</div>
            <div class="burger-nav">
                <a href="" class="burger-nav-p developing">About</a>
                <a href="" class="burger-nav-p developing">Projects</a>
                <a href="" class="burger-nav-p developing">Blog</a>
                <a href="" class="burger-nav-p developing">Research</a>
                <a href="" class="burger-nav-p developing">CV</a>
                <a href="#footer" class="burger-nav-p Contact">Contact</a>
            </div>
        </section>
    </header>